.phone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3% 7%;
  background-color: #f9f9f9; /* 배경색 */
}

.phone-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.phone-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 20rem;
  gap: 2%;
}

.phone-image {
  width: 100%;
  max-width: 80%; /* 이미지 크기 */
  object-fit: contain;
  margin-bottom: 20%;
}

.phone-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10%;
  line-height: 1.5;
}
.phone-item:nth-child(1) .phone-text {
  margin-bottom: 40%; /* 첫 번째 텍스트가 이미지 위로 오게 */
}

.phone-item:nth-child(2) .phone-text {
  margin-top: 10%; /* 두 번째 텍스트가 이미지 아래로 오게 */
}
