/* HowItWorks.css */
@import "./variables.css";

.how-it-works {
  padding: 80px 20px;

  background-color: var(--tertiary-green); /* 더 연한 녹색 배경 */
  text-align: center;
}

.how-it-works h2 {
  font-size: 36px;
  color: var(--primary-green);
  margin-bottom: 40px;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.step {
  width: 200px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--secondary-green);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow);
  transition: transform 0.3s;
}

.step:hover {
  transform: translateY(-5px);
}

.step-number {
  background-color: var(--primary-green);
  color: var(--text-light);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  font-size: 18px;
  font-weight: bold;
}

.step h3 {
  font-size: 20px;
  color: var(--primary-green);
  margin-bottom: 10px;
}

.step p {
  font-size: 16px;
  color: #555;
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 80%;
  }
}
